RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=FnZUe7Vwefyr7wiyP4qR6rHYiANAcsHYLH4aVYXwVdzh
ADMIN_KEYPAIR_PATH=REPLACE_WITH_KEYPAIR_PATH
BUYER_KEYPAIR_PATH=REPLACE_WITH_BUYER_KEYPAIR_PATH
SELLER_KEYPAIR_PATH=REPLACE_WITH_SELLER_KEYPAIR_PATH
